<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta name="theme-color" content="#00b09b"/>
      <meta name="author" content="Carlos VP (charlsdev)"/>
      <meta name="copyright" content="Copyright (c) 2021 - InnovaTech´S"/>
      <meta name="description" content="Pagina para registro de boletos."/>
      <meta name="keywords" content="VLPUnesum, Entorno Virtual Unesum, Educacion Online"/>

      <title>Rifa Solidaria</title>

      <link rel="shortcut icon" href="/img/BiingSIO.ico" type="image/x-icon">

      <link rel="stylesheet" href="/css/coloresTonos.min.css" type="text/css">
      <link rel="stylesheet" href="/css/scrollDesing.min.css" type="text/css">

      <link rel="stylesheet" href="/css/loader.min.css" type="text/css">


      {{{body}}}


      <script src="/blockUI/jquery.blockUI.js"></script>

      <script>
         bloqueointerface = function(){
            $.blockUI({
               message: '<div class="loader-wrapperSend"><div class="loader-circle"><div class="loader-wave"></div></div></div>',
               css: {
                  'z-index': '1200',
                  'position': 'inherit'
               }
            });
         };

         desbloqueointerface = function(){
            $.unblockUI();
         };
      </script>

      <script>
         console.log("%c%s", "color: red; background: #38ef7d; font-size: 25px; font-weight: 600; padding: 3px 20px;", "¡ADVERTENCIA!");

         console.log("%c%s", "font-size: 16px;", "Si utilizas esta consola, otras personas podr\u00edan suplantar tu identidad y robarte datos mediante un ataque Self-XSS.\nNo escribas ni pegues ning\u00fan c\u00f3digo que no entiendas.");
      </script>

      <script src="/js/loader.min.js"></script>
   </body>
</html>